body {
  height: 100%;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
}

// html {
//   height: 100%;
// }

#app {
  height: 100%;
}

.el-pagination {
  margin-top: 20px;
  display: flex;
  justify-content: right;
  margin-right: 20px;
}